---
- name: Create Agent Directory
  file:
    path: "{{ vault_base_dir }}-snapshot-agent"
    state: directory
    mode: '0700'
    owner: root
    group: root

- name: Template Docker Compose
  template:
    src: docker-compose.yml.j2
    dest: "{{ vault_base_dir }}-snapshot-agent/docker-compose.yml"
  register: agent_compose

- name: Deploy Snapshot Agent Container
  shell: |
    docker compose down || true
    docker compose up -d
  args:
    chdir: "{{ vault_base_dir }}-snapshot-agent"
  when: agent_compose.changed