---
- name: Create Agent Directory
  file:
    path: "{{ vault_base_dir }}-snapshot-agent"
    state: directory
    mode: '0700'
    owner: root
    group: root

- name: Create Config Directory
  file:
    path: "{{ vault_base_dir }}-snapshot-agent/config"
    state: directory
    mode: '0700'

- name: Template Agent Config (JSON)
  template:
    src: config.json.j2
    dest: "{{ vault_base_dir }}-snapshot-agent/config/config.json"
    mode: '0600'
  register: agent_config

- name: Template Docker Compose
  template:
    src: docker-compose.yml.j2
    dest: "{{ vault_base_dir }}-snapshot-agent/docker-compose.yml"
  register: agent_compose


- name: Deploy Snapshot Agent Container
  shell: |
    docker compose down || true
    docker compose up -d
  args:
    chdir: "{{ vault_base_dir }}-snapshot-agent"
  when: agent_config.changed or agent_compose.changed