{
  "vault": {
    "nodes": {
      "urls": ["https://127.0.0.1:8200"]
    },
    "auth": {
      "approle": {
        "role": "{{ snapshot_role_id }}",
        "secret": "{{ snapshot_secret_id }}"
      }
    },
    "timeout": "60s",
    "insecure": true
  },
  "snapshots": {
    "frequency": "3m",
    "retain": 3,
    "namePrefix": "{{ snapshot_folder_name }}/snapshot-",
    "fileExtension": ".snap",
    "storages": {
      "s3": {
        "endpoint": "{{ backup_s3_endpoint }}",
        "bucket": "{{ backup_s3_bucket }}",
        "accessKeyId": "{{ backup_s3_access_key }}",
        "accessKey": "{{ backup_s3_secret_key }}",
        "region": "{{ backup_s3_region }}",
        "useServerSideEncryption": false,
        "forcePathStyle": true,
        "insecure": false,
        "skipSSLVerify": true
      }
    }
  }
}