---
- name: Setup Transit Vault
  hosts: transit_node
  become: true
  gather_facts: true
  tasks:
    - name: Run Transit Setup Tasks
      block:
        - include_role:
            name: ../../roles/docker_setup
        - include_role:
            name: ../../roles/vault_transit
      when: (target is undefined) or (target == 'transit_node') or (target == 'all')

- name: Deploy Main Cluster Nodes
  hosts: vault_nodes
  become: true
  tasks:
    - name: Run Main Cluster Setup Tasks
      block:
        - include_role:
            name: ../../roles/docker_setup
        - include_role:
            name: ../../roles/vault_node
      vars:
        transit_token_value: "{{ lookup('file', '../../keys/transit_token.txt') }}"
      when: (target is undefined) or (target == 'vault_nodes') or (target == 'all')

- name: Initialize Main Cluster & Save Keys
  hosts: vault1
  become: true
  tasks:
    - name: Run Initialization Tasks
      block:
        - name: Wait for Vault 1 API
          wait_for: { port: 8200, delay: 5 }

        - name: Check Status
          command: docker exec vault vault status -format=json
          register: m_status
          failed_when: m_status.rc == 2
          changed_when: false
          ignore_errors: true

        - name: Init Main Cluster (Recovery Keys 5/3)
          command: docker exec vault vault operator init -recovery-shares=5 -recovery-threshold=3 -format=json
          register: m_init
          when: 
            - m_status.stdout is defined
            - (m_status.stdout | from_json).initialized == false

        - name: SAVE Main Cluster Keys Locally
          copy:
            content: "{{ m_init.stdout }}"
            dest: "{{ local_keys_dir }}/main_cluster_keys.json"
          delegate_to: localhost
          when: m_init.changed

        - name: Debug Info
          debug:
            msg: "Cluster is already initialized or just finished initialization."
      when: (target is undefined) or (target == 'vault_nodes') or (target == 'all')
