---
- name: Rolling Restart Vault Nodes
  hosts: "{{ target | default('vault_nodes') }}" 
  become: true
  serial: 1  
  
  tasks:
    - name: Restart Vault Container
      shell: docker compose down && docker compose up -d
      args:
        chdir: "{{ vault_base_dir }}"

    - name: Wait for Vault to be Active/Standby (Port 8200 Open)
      wait_for:
        port: 8200
        host: "127.0.0.1"
        delay: 5     
        timeout: 60   
        state: started